
// Related news
// ============
// Related news stories

.related-news {
    margin-bottom: $size-l;
    width: 100%;
    max-width: 100%;
    
    .inner {
        background: $clr-light;
        margin: 0;
        padding: $size-s $size-m $size-l $size-m;
    }
    h2 {
        @extend %col-xs-12;
        margin-bottom: $size-l;
    }
    article {
        @extend %col-xs-12;
        @extend %col-sm-6;
    }
    @media (max-width: $laptop - 1) {
        padding: 0;
    }
    @media (max-width: $tablet - 1) {

        article {
            margin-bottom: $size-xl;
        }
        article:last-of-type {
            margin-bottom: $size-m;
        }
    }
}