
//- Related news
//- ============
//- Related news stories

//- Includes
include ../news-link/_news-link

mixin relatedNews()
	section.related-news
		.inner
			h2 Further reading
			//- News link
			<cms:pages masterpage="article.php" limit="2" id="NOT <cms:show k_page_id />">
			- var heading = '<cms:show k_page_title "/>"'
			- var date = '<cms:date k_page_date format="jS F, Y" "/>"'
			- var content = '<cms:excerptHTML count="70" ignore="img"><cms:show article_standfirst "/>"</cms:excerptHTML>'
			+newsLink(heading, date, content)(src="<cms:show article_thumb />" href="<cms:show k_page_link />")
			</cms:pages>