footer.m-footer
	.inner
		.legal
			h2.logo-main Alex Plummer
			p © Copyright 2017
			a(href="legal.html") Legal
			a(href="credits.html") Credits
		
		nav
			a(href="index.html") Home
			a(href="work.html") Work
			a(href="news.html") News
			a(href="contact.html") Contact

include ../includes/_under
