//- Lists of info points with icon for each definition

section.m-list-info
	.inner
		h2 More info

		dl
			dt.icon-born Made in Guildford
			dd Alex Plummer is a frontend developer and designer, bringing together

			dt.icon-study Uni at Goldsmiths
			dd Alex Plummer is a frontend developer and designer, bringing together

			dt.icon-work Work in London
			dd Alex Plummer is a frontend developer and designer, bringing together
		
		dl
			dt.icon-kickboxing Enjoy kickboxing
			dd Alex Plummer is a frontend developer and designer, bringing together

			dt.icon-climbing and some climbing
			dd Alex Plummer is a frontend developer and designer, bringing together

			dt.icon-speak Parlo Italiano (un po')
			dd Alex Plummer is a frontend developer and designer, bringing together
