//- Lists with icons to display skill levels

section.m-news-highlights
	.inner
		include _news-link
		//- News block
		- var heading = 'Lorem ipsum dolor sit'
		- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
		+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")

		//- News block
		- var heading = 'Lorem ipsum dolor sit'
		- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
		+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")