//- A showcase of work with alternating pieces

mixin workShowcase(heading, description)
    article(class!=attributes.class)
        img(src!=attributes.src)
        h3= heading
        p= description
        button Check it out