
// Heading splash
// ============
// Heading with a splash to the right or left

.heading-splash {
    position: relative;

    .lined-heading {
        @extend %lined-heading;
        margin-left: 120px;
        background: $clr-light;
        text-align: center;
        position: relative;
        top: -120px;
        padding: 0 $size-l;
        transform: skewY(-8deg);
        z-index: -1;

        h2 .first {
            letter-spacing: 4px;
        }
    }
    &.splash-in {

        &:before {
            @extend %splatter-right;
        }
    }
    &:before {
        @extend %splatter-right-out;
        content: "";
        display: block;
        position: absolute;
        top: -370px;
        right: -900px;
        z-index: $z-m;
        width: 1320px;
        height: 1298px;
        background: url(../img/shape-splat.svg) no-repeat;
        background-size: 100%;
    }
    &.right {
        @include flexbox();
        margin-bottom: $size-xl * 3;

        .inner {
            @include order(2);
            position: relative;
            transform: skewY(15.7deg);
            z-index: $z-m - 1;
            height: 384px;
            width: 100%;
            
            h2 {
                text-align: right;
                padding-top: $size-xl * 1.2;
                padding-bottom: $size-xl;
            }
            h2 span {
                display: block;
            }
            .lined-heading {
                @extend %col-xs-6;
                @extend %col-xs-offset-6;
                top: -75px;
                left: 0;
            }
        }
        &.splash-in {

            &:before {
                @extend %splatter-left;
            }
        }
        &:before {
            @include order(1);
            @extend %splatter-left-out;
            background-position: top right;
            transform: rotate(20deg);
            left: -810px;
            top: -320px;
            right: auto;
        }
    }
    @media (max-width: $breakpoint-1) {
        
        &:before {
            top: -220px;
            right: -530px;
            width: 1000px;
        }
        div.lined-heading {
            top: -40px;

            h2, h2 span {
                font-size: $font-xxl;
                line-height: $font-xxl;
            }
        }
        &.right {
            margin-bottom: $size-xl * 1.5;

            &:before {
                top: -300px;
                left: -640px;
            }
            .inner .lined-heading {
                top: -45px;
            }
        }
    }
    @media (max-width: 1080px) {
        
        &:before {
            top: -180px;
            right: -330px;
            width: 800px;
        }
        &.right {
            margin-bottom: $size-l;
            
            &:before {
                top: -240px;
                left: -520px;
            }
        }
    }
    @media (max-width: $breakpoint-2) {
        
        &:before {
            top: -170px;
            right: -290px;
            width: 600px;
        }
        &.right {
            margin-bottom: $size-xl;
            
            &:before {
                top: -190px;
                left: -420px;
            }
        }
    }
    @media (max-width: $tablet - 1px) {
        
        .lined-heading {
            top: -120px;
            left: -120px;
            padding-left: $size-m;
            padding-right: $size-m;

            h2 {
                padding-top: 200px;
            }
        }
        &:before {
            top: -200px;
            right: -270px;
            width: 550px;
        }
        &.right {
            margin-bottom: $size-m;
            
            &:before {
                top: -130px;
                left: -420px;
            }
            .inner {

                .lined-heading {
                    top: -25px;
                }
            }
            
        }
    }
    @media (max-width: $breakpoint-3) {

        div.lined-heading h2, div.lined-heading h2 span {
            font-size: $font-xl;
            line-height: $font-xl;
        }
    }
    @media (max-width: $breakpoint-4) {
        
        &:before {
            top: -140px;
            right: -210px;
            width: 400px;
        }
        .lined-heading {
            top: -60px;
        }
        &.right {
            margin-bottom: $size-xl;
            
            &:before {
                top: -130px;
                left: -370px;
            }
            .inner {

                .lined-heading {
                    top: -60px;

                    h2 {
                        padding-top: 200px;
                    }
                }
            }
        }
    }
    @media (max-width: 410px) {

        &.right {
            margin-bottom: $size-xl;
            
            &:before {
                top: -130px;
                left: -370px;
            }
            .inner {

                .lined-heading {
                    top: -60px;
                    left: -40px;

                    h2 {
                        padding-top: 220px;
                        padding-bottom: 120px;
                    }
                }
            }
        }
    }
}