
//- Heading splash
//- ============
//- Heading with a splash to the right or left

mixin headingSplash()

	header(class!= attributes.alignment + ' heading-splash' id!= attributes.id)
		.inner
			.lined-heading
				block