
//- Heading splash
//- ============
//- Heading with a splash to the right or left

mixin headingSplash()
	header(class!= attributes.alignment + ' m-heading-splash')
		.inner
			.splash-heading
				block