
//- List skills
//- ============
//- Lists with icons to display skill levels

mixin listSkills()
	section.m-list-skills
		.inner
			article
				h3 A broad range
				p
					| Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority. 
				
				.list-wrap
					h4 Code
					ul
						li HTML/Pug
						li CSS
						li JS (ES6)
						li JQuery
						li SASS/LESS
						li Gulp/Grunt
						li.two-bars Angular
						li.one-bar React
				
				.list-wrap
					h4 Design
					ul
						li UI Design
						li App Design
						li Typography
						li Layout/grid
						li Colour theory
						li.two-bars UX/research
						li.two-bars Wireframing
						li.two-bars Print design
				
				.list-wrap
					h4 Tools
					ul
						li Photoshop
						li Sketch
						li Git
						li JIRA/agile
						li MS Office
						li.two-bars Axure
						li.two-bars Illustrator
						li.one-bar Premier Pro
				
				.key
					p Pro
					p.two-bars Good
					p.one-bar Basic 