
//- Social personal
//- ============
//- A section with links to online profiles

mixin socialPersonal()
    section.social-personal
        .inner
            h3 Find me online

            nav
                a(href="#" title="Link to Facebook profile")
                    img.svg(src="img/icon-social-fb.svg"  aria-hidden="true" role="presentation")
                a(href="#" title="Link to Twitter profile")
                    img.svg(src="img/icon-social-tw.svg"  aria-hidden="true" role="presentation")
                a(href="#" title="Link to LinkedIn profile")
                    img.svg(src="img/icon-social-li.svg"  aria-hidden="true" role="presentation")
                a(href="#" title="Link to Github profile")
                    img.svg(src="img/icon-social-gh.svg"  aria-hidden="true" role="presentation")
                a(href="#" title="Link to Stack Overflow profile")
                    img.svg(src="img/icon-social-so.svg"  aria-hidden="true" role="presentation")
                a(href="#" title="Link to Behance profile")
                    img.svg(src="img/icon-social-be.svg"  aria-hidden="true" role="presentation")