
//- Social personal
//- ============
//- A section with links to online profiles

mixin socialPersonal()
    section.social-personal
        h3 Find me online

        nav
            a(href="#").fb
            a(href="#").tw
            a(href="#").li
            a(href="#").gh
            a(href="#").so
            a(href="#").be