
//- Social personal
//- ============
//- A section with links to online profiles

mixin socialPersonal()
    section.social-personal
        .inner
            h3 Find me online

            nav
                a(href="#")
                    img.svg(src="img/icon-social-fb.svg")
                a(href="#")
                    img.svg(src="img/icon-social-tw.svg")
                a(href="#")
                    img.svg(src="img/icon-social-li.svg")
                a(href="#")
                    img.svg(src="img/icon-social-gh.svg")
                a(href="#")
                    img.svg(src="img/icon-social-so.svg")
                a(href="#")
                    img.svg(src="img/icon-social-be.svg")