{
    '@context': 'http://schema.org',
    '@type': 'NewsArticle',
    'headline': '<cms:show k_page_title "/>"',
    'author': 'Alex Plummer',
    'datePublished': '<cms:date k_page_date format="jS F, Y" "/>"',
    'dateline': 'LN, UK',
    'mainEntityOfPage': 'true',
    'image': {
        '@type': 'imageObject',
        'url': '<cms:show article_thumb "/>"',
        'height': '200',
        'width': '200'
    },
    'publisher': {
        '@type': 'Organization',
        'name': 'Alex Plummer Web Design',
        'logo': {
            '@type': 'imageObject',
            'url': '<cms:show k_site_link "/>"/img/brand/logo_vector.svg'
        }
    }
},