
//- News article
//- ============
//- Content for a news article

//- Includes
include ../social-share/_social-share
include ../quote-inline/_quote-inline

mixin newsArticle()

	.news-article
		.content
			.inner
				article.content-left(role="article")
					.details
						.author
							p(rel="author")
								span Written by:
								| Alex Plummer
								
							.pubdate
								p
									span Published: 
									time(pubdate="pubdate") Friday, September 15th 2017
								time
						
						//- Social share
						+socialShare

					p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum posuere augue sed semper bibendum. Integer aliquam pellentesque luctus. Sed diam tellus, egestas vitae dapibus nec, mattis in metus. Maecenas euismod molestie erat quis ullamcorper. Nam neque ligula, rutrum sed imperdiet eu, gravida placerat metus. Pellentesque ultrices eros vel orci egestas tristique. Donec faucibus ullamcorper scelerisque.
					p Cras orci orci, blandit a eros eu, elementum consequat nulla. Fusce interdum nunc ac consectetur euismod. Nunc quam urna, laoreet id nulla vel, facilisis scelerisque enim. Integer quis risus odio. Aliquam venenatis mollis erat, id molestie libero convallis in. Aliquam nec ipsum mauris. Suspendisse venenatis nisl in justo condimentum, vitae condimentum nisi semper. Praesent dignissim hendrerit nisi, ornare ornare sem varius a. Aliquam vulputate ante leo, et tristique tortor consequat sed.

					//- Quote inline
					+quoteInline
						| "Design and code in beautiful harmony"
					
					p Donec accumsan nulla vitae felis convallis auctor. Duis vitae ipsum pharetra, tristique justo ac, volutpat enim. Sed porta magna vel ipsum congue, eget porta nibh interdum. Nulla rutrum porta feugiat. Proin ultricies massa vitae auctor ornare. Nam viverra in quam non ullamcorper. Aliquam mattis dictum congue. Sed mattis vulputate leo, eu bibendum nisl finibus eu. Integer mollis leo risus.
					p Pellentesque gravida fringilla leo ullamcorper dapibus. Suspendisse tincidunt ipsum libero, nec tincidunt dolor cursus non. Etiam sollicitudin lacus mollis massa fringilla ornare. Etiam euismod purus sed dui scelerisque, a pellentesque nulla volutpat. Phasellus a velit sit amet libero volutpat semper et at neque. Suspendisse finibus turpis ac mi vestibulum, a semper arcu accumsan. Donec dignissim augue arcu, non dapibus mi ullamcorper sit amet. Donec a lacus efficitur, accumsan arcu in, molestie ante. Integer cursus euismod elit ut vulputate. Aenean laoreet enim eleifend lacus pulvinar volutpat. Donec rhoncus purus id faucibus sodales. Proin eget bibendum ligula.
				
				aside.content-right(role="complementary")
					img(src="img/media/content-sample.jpg" alt="some alt text")