
//- News article
//- ============
//- Content for a news article

//- Includes
include ../social-share/_social-share
include ../quote-inline/_quote-inline

mixin newsArticle()

	//- CMS config
	<cms:editable name="group_news_article_body" label="News article body" desc="Body for news article" type="group"></cms:editable>

	.news-article
		.content
			.inner
				article.content-left(role="article")
					.details
						.author
							p(rel="author")
								span Written by:
								<cms:editable name="article_author" group="group_news_article_header" type="text"></cms:editable>
								
							.pubdate
								p
									span Published: 
									time(pubdate="pubdate") 
										<cms:date k_page_date format="jS F, Y" "/>"
								
						//- Social share
						+socialShare

					p <cms:editable name="article_standfirst" group="group_news_article_body" type="text"></cms:editable>
					<cms:editable name="article_body" group="group_news_article_body" type="richtext"></cms:editable>
				
				aside.content-right(role="complementary")
					img(src="img/media/content-sample.jpg" alt="some alt text")