
//- Contact form
//- ============
//- A basic contact form

mixin contactForm()
	form(action="post").contact-form
		input(type="text" placeholder="Enter name here")
		input(type="email" placeholder="Enter email here")
		textarea(placeholder="Enter message here")