
//- Contact form
//- ============
//- A basic contact form

mixin contactForm()
	form(action="post").contact-form
		label Name
		input(type="text" placeholder="Enter name here")
		label Email
		input(type="email" placeholder="Enter email here")
		label Message
		textarea(placeholder="Enter message here")
		input(type="submit" value="Send")