
//- Contact form
//- ============
//- A basic contact form

mixin contactForm()
	form(action="post").contact-form
		.form-contents
			label(for="name") Full Name
			input(type="text" placeholder="Enter name here" id="name")
			label(for="email") Email
			input(type="email" placeholder="Enter email here" id="email")
			label(for="message") Message
			textarea(placeholder="Enter message here" id="message")
			input(type="submit" value="Send")