
//- Showreel
//- ============
//- Large section used to demo work

mixin showreel()
    section.m-showreel
        .inner
            blockquote.quote 
                | “Design and code in beautiful harmony”
            article
                h3 
                    | Hello there!
                p
                    | Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority. 
                p
                    | On this site you can find a selection of both the design and the coding aspects of his work.
        .slider
            p.title
                | Some of the pretty stuff
            .items-left
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title

            .items-right
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title
                a(href="#")
                    img(src="img/media/sample-round.jpg")
                    | Sample Title

            a(href="#").toggle-left Design
            a(href="#").toggle-left Code
