
//- Showreel
//- ============
//- Large section used to demo work

mixin showreel()
	section.showreel

		article.project-modal.modal-inactive(tabindex="-1" role="dialog" hidden)
			button.close(title="Close the dialog")
			.screenshots
				.desktop
					img(src="img/device-desktop.svg"  aria-hidden="true" role="presentation")
					.screens
				.mobile
					img(src="img/device-mobile.svg"  aria-hidden="true" role="presentation")
					.screens
			.content
			
		.inner
			blockquote
				| “Design and code in beautiful harmony”
			article.intro
				h3 
					| Hello there!
				p
					| Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority. 
				p
					| On this site you can find a selection of both the design and the coding aspects of his work.
		
		.slider
			p.title
				| Some of the pretty stuff
			.items-holder
				.items-left.active
					ul
						li
							picture(role="button" tabindex="0" aria-pressed="false" title="Open a dialog with project info")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Left

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" tabindex="0" aria-pressed="false" title="Open a dialog with project info")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Left

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						
						li
							picture(role="button" tabindex="0" aria-pressed="false" title="Open a dialog with project info")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Left

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" tabindex="0" aria-pressed="false" title="Open a dialog with project info")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Left

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" tabindex="0" aria-pressed="false" title="Open a dialog with project info")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Left

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more


				.items-right.inactive
					ul
						li
							picture(role="button" aria-pressed="false" title="Open a dialog with project info" tabindex="-1")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Right

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" aria-pressed="false" title="Open a dialog with project info" tabindex="-1")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Right

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" aria-pressed="false" title="Open a dialog with project info" tabindex="-1")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Right

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" aria-pressed="false" title="Open a dialog with project info" tabindex="-1")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Right

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more

						li
							picture(role="button" aria-pressed="false" title="Open a dialog with project info" tabindex="-1")
								img(data-src="img/media/screen-euromoney.jpg" alt="Some alt text")
							p Right

							.modal-content
								.desktop
									.screens
										img(src="img/media/screen-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-euromoney-2.jpg" alt="some alt text")
								.mobile
									.screens
										img(src="img/media/screen-mobile-euromoney.jpg" alt="some alt text")
										img(src="img/media/screen-mobile-euromoney-2.jpg" alt="some alt text")
								.content
									h3 Title
									p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design.
									hr
									a(href="#") View more


			a(href="#").toggle-left.active 
				img(src="img/icon-design.svg"  aria-hidden="true" role="presentation").svg.btn-icon
				| Design
			
			a(href="#").toggle-right
				img(src="img/icon-code-browser.svg"  aria-hidden="true" role="presentation").svg.btn-icon.two
				| Code
