
// Showreel
// ============
// Large section used to demo work

.showreel {
    position: relative;
    top: -20px;
    margin-bottom: 300px;
    
    &:before {
        @extend %bg-geometry;
    }
    .inner {
        @include align-items(flex-end);
        position: relative;
        z-index: $z-m;
        top: 90px;
    }
    blockquote {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend .h1;
        font-size: $font-xxl * 1.3;
        line-height: $font-xxl * 1.3;
        background: none;
        border: 0;
        padding: 0 $size-xl 0 0;
        margin: 0;
        position: relative;
        left: $size-l;
        text-align: center;

        &:before {
            display: none;
        } 
    }
    .intro {
        @extend %col-sm-6;
        @extend %col-lg-5;
        position: relative;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .project-modal {
        @extend .animated;
        display: none;
        @extend %pseudo;
        position: fixed;
        width: 90vh;
        height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: $z-max;

        &:before {
            @extend .animated;
            @extend .zoomOut;
            animation-duration: 0.5s;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background: $clr-secondary;
            border: 5px solid #fff;
            z-index: -1;
        }
        &:after {
            position: absolute;
            transform: translate(-50%,-50%);
            width: 1000vw;
            height: 1000vh;
            background: darken($clr-secondary, 20%);
            opacity: 0.9;
            z-index: -2;
        }
        &.active {
            display: block;

            &:before {
                @extend .zoomIn;
            }
            &:after {
                @extend %fade-in-slight;
            }
        }
        .close {
            @extend .icon;
            @extend .icon-cancel-circled2;
            cursor: pointer;
            position: absolute;
            top: 10%;
            right: 11%;
            margin: 0;
            padding: 0;
            font-size: 60px;
            text-align: center;

            &:before {
                border-radius: 50%;
                background: #fff;
            }
        }
        .content {
            position: absolute;
            left: 40%;
            top: 30%;
            width: 50%;

            h3, p {
                color: #fff;
            }
            h3 {
                font-family: $font-header;
                margin-bottom: $size-m;
            }
            a {
                @extend .btn;
                color: #fff;
                margin-top: $size-m;
                background: $clr-link;
                transition: all ease 0.3s;

                &:hover {
                    background: lighten($clr-link,10%);
                }
            }
            hr {
                margin-top: $size-s;
                padding-bottom: $size-m;
                border: 0;
                border-bottom: 1px solid $clr-link;
            }
        }
        .desktop, .mobile {
            position: relative;
            display: block;
            max-width: 100%;

            >svg {
                width: 100%;
                height: 100%;
            }
            .screens {
                position: absolute;
                overflow: hidden;

                img {
                    @extend %slide-up-down;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    margin-bottom: -3px;
                }
            }
        }
        .desktop {
            width: 90%;
            left: -60%;
            top: -10%;

            .screens {
                @extend %isometrify-up;
                top: 26%;
                width: 58%;
                height: 45%;
                left: 41%;
            }
        }
        .mobile {
            width: 35%;
            left: -5%;

            .screens {
                @extend %isometrify-down;
                top: -1%;
                width: 33.8%;
                height: 93%;
                left: 36%;
            }
        }
    }
    .slider {
        position: relative;
        transform-origin: center;
        transform: rotate(-8deg);
        
        &:before {
            content: "";
            display: block;
            background: darken($clr-hlight, 9%);
            width: 120vw;
            height: 310px;
            left: -20vw;
            margin: 0 -4.5rem;
            padding-left: calc(10vw + 3rem);
            top: 240px;
            position: relative;
            z-index: $z-m + 1;
        }
        .title {
            @extend %all-caps;
            transition: all ease 0.3s;
            padding-top: $size-m;
            position: relative;
            top: -142px;
            z-index: $z-m;
            text-align: center;
            display: inline-block;
            transform: translateX(-25%);
            left: 25%;

            &:before {
                content: "";
                background: url(../img/shape-triangle.svg) no-repeat;
                background-size: 100%;
                width: 580px;
                height: 472px;
                display: block;
                position: absolute;
                z-index: -1;
                top: 5px;
                transform: translateX(-50%);
                left: 50%;
            }
            &.right {
                left: 54%;
            }
        }
        .items-holder {
            height: 250px;
            position: relative;
            z-index: $z-m + 2;

            .items-left, .items-right {
                @extend .animated;
                transition: opacity 0.5s ease;
                width: 100%;
                position: absolute;
                top: -105px;

                ul {
                    @include flexbox;
                    @include justify-content(space-between);
                    margin-left: 0;
                
                    li {
                        @extend .animated;
                        @extend .flipOutY;
                        cursor: pointer;
                        display: inline-block;
                        text-align: center;
                        font-weight: 500;
                        font-size: $font-m;
                        text-decoration: none;
                        padding: 0 $size-xs;

                        picture {
                            @extend %img-round;
                        }
                        .modal-content {
                            display: none;
                        }
                    }
                }
                &.inactive {
                    opacity: 0;
                }
            }
            .items-left {
                
                &.active {
                    @extend .slideInLeft;
                }
                &.inactive {
                    @extend .slideOutLeft;
                }
            }
            .items-right {
                
                &.active {
                    @extend .slideInRight;
                }
                &.inactive {
                    @extend .slideOutRight;
                }
            }
            &.slide-in {

                .items-left, .items-right {

                    li {
                        @extend .flipInY;
                    }
                }
            }
        }
        .toggle-left, .toggle-right {
            @extend %all-caps;
            font-size: $font-l;
            text-decoration:  none;
            position: relative;
            text-align: center;
            display: inline-block;
            border: 1px solid $clr-link;
            border-radius: 50px;
            text-decoration: none;
            color: $clr-link;
            font-weight: 500;
            white-space: nowrap;
            min-width: 120px;
            padding: $size-s $size-m;
            padding-left: 60px;
            text-align: center;
            cursor: pointer;
            z-index: $z-l;

            .btn-icon {
                position: absolute;
                left: 20px;
                top: 11px;
                width: $size-m;
            }

            &:first-of-type .btn-icon {
                top: 9px;
            }

            &.active, &:hover, &:focus {
                background-color: $clr-link;
                color: #fff;
                transition: all ease 0.3s;

                .btn-icon * {
                    fill: #fff;
                    transition: all ease 0.3s;
                }
            }
        }
        .toggle-left {
            transform: translateX(-25%);
            left: calc(25% + 2rem);
        }
        .toggle-right {
            transform: translateX(-75%);
            left: 50%;
        }
    }
    @media (max-width: 1400px) {

        .slider {
            
            &:before {
                height: 240px;
                top: 215px;
            }
            .title {
                top: -75px;
                font-size: $font-m;
                padding-top: $size-s;

                &:before {
                    width: 450px;
                    //top: -45px;
                    //left: -15px;
                }
                &.right {
                    left: 55%;
                }
            }
            .items-holder {
                height: 220px;

                .items-left, .items-right {
                    top: -50px;
                    
                    ul {
                        li {
                            
                            picture {
                                width: 150px;
                                height: 150px;
                            }
                        }
                    }
                }
                
            }
            .toggle-left, .toggle-right {
                font-size: $font-m;
                top: 10px
            }
        }
    }
    @media (max-width: $breakpoint-1) {
        top: -200px;
        margin-bottom: 10px;

        blockquote {
            left: 0;
        }
        .project-modal {
            width: 80vh;
            height: 80vh;
            left: 57%;
        }
    }
    @media (max-width: 1080px) {

        .inner {
            top: 40px;

            blockquote {
                padding-right: $size-m;
            }
        }
        .slider {
            
            &:before {
                height: 200px;
                top: 178px;
            }
            .title {
                top: -75px;

                &:before {
                    width: 400px;
                    //top: -45px;
                    //left: 0;
                }
                &.right {
                    left: 58%;
                }
            }
            .items-holder {
                height: 180px;

                .items-left, .items-right {
                    top: -40px;
                    
                    ul {

                        li {
                            font-size: $font-xs;

                            picture {
                                width: 110px;
                                height: 110px;
                            }
                        }
                    }
                }
            }
            .toggle-left, .toggle-right {
                top: 10px
            }
        }
        .project-modal {
            width: 80vh;
            height: 80vh;

            .close {
                right: 5%;
            }
        }
    }
    @media (max-width: $breakpoint-2) {

        .project-modal {
            width: 60vh;
            height: 60vh;
            left: 57%;
        }
    }
    @media (max-width: 767px) {
        
        &:before {
            height: calc(100% + 8rem);
        }
        .inner {
            top: 20px;

            blockquote {
                @include order(2);
                border-top: 2px solid $clr-darker;
                border-bottom: 2px solid $clr-darker;
                text-align: center;
                margin-bottom: $size-m;
                padding: $size-m 0;
            }
            article {
                @include order(1);
                margin-bottom: $size-l;
            }
        }
        .slider {
            transform: rotate(0);
            top: -150px;
            margin-left: -$size-m;
            margin-right: -$size-m;

            &:before {
                background: none;
            }
            .title {
                display: none;
                
                &.right {
                    left: 55%;
                }
            }
            .items-holder {

                .items-left, .items-right {
                    top: 0;

                    ul {
                        @include flex-wrap(wrap);
                        @include align-items(flex-start);
                        
                        li {

                            &:last-of-type {
                                display: none;
                            }
                        }
                    }
                }
            }
            .toggle-left, .toggle-right {        
                top: auto;
                bottom: -$size-xl;
                position: absolute;
                padding: $size-xs $size-m;
                padding-left: 40px;

                .btn-icon {
                    width: $font-s;
                    left: 15px;
                }
            }
            .toggle-left:first-of-type {
                left: $size-m;

                .btn-icon {
                    top: 0px;
                }
            }
            .toggle-right {
                transform: none;
                left: auto;
                right: $size-l;

                .btn-icon {
                    top: 2px;
                }
            }
        }
    }
    @media (max-width: $breakpoint-3) {
        top: -440px;
        margin-bottom: -210px;
        
        &:before {
            width: 200vw;
        }
        .project-modal {
            width: 100vw;
            height: 65vh;
            left: 50%;

            &:before {
                border-radius: 0;
                width: 200vw;
                left: -50vw;
            }
            .close {
                top: -$font-xxl / 2;
                right: $size-m;
                font-size: $font-xxl;
            }
            .screenshots {
                margin-top: -60px;
            }
            .desktop {
                left: -10%;
                width: 50%;
            }
            .mobile {
                width: 25%;
                position: absolute;
                top: 15%;
                left: 70%;
                transform: translateX(-50%);

                .screens {
                    top: 13.5%;
                    width: 33.8%;
                    height: 65%;
                    left: 37%;
                }
            }
            .content {
                position: static;
                padding-left: $size-m;
                padding-top: $size-m;
                width: calc(100% - 40px);

                h3 {
                    margin-bottom: 0;
                }
                hr {
                    display:  none;
                }
                a {
                    position: absolute;
                    bottom: -$size-l;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    @media (max-width: 560px) {

        .slider .items-holder {
            height: 310px;
        }
    }
    @media (max-width: $breakpoint-4) {
        top: -340px;
        
        &:before {
            width: 200vw;
        }
        .slider {

            .toggle-left {
                left: 0;
            }
            .toggle-right {
                right: 0;
            }
        }
        .project-modal {
            
            .desktop {
                left: -20%;
                width: 70%;
            }
            .mobile {
                width: 35%;
            }
        }
    }
}