
// Showreel
// ============
// Large section used to demo work

.showreel {
    position: relative;
    top: -20px;
    margin-bottom: 300px;
    
    &:before {
        @extend %bg-geometry;
    }
    .inner {
        @include align-items(flex-end);
        position: relative;
        z-index: $z-m;
        top: 90px;
    }
    blockquote {
        @extend %col-xs-12;
        @extend %col-sm-6;
        @extend .h1;
        font-size: $font-xxl * 1.3;
        line-height: $font-xxl * 1.3;
        background: none;
        border: 0;
        padding: 0 $size-xl 0 0;
        margin: 0;
        position: relative;
        left: $size-l;
        text-align: center;

        &:before {
            display: none;
        } 
    }
    article {
        @extend %col-sm-6;
        @extend %col-lg-5;
        position: relative;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .slider {
        position: relative;
        transform-origin: center;
        transform: rotate(-8deg);
        
        &:before {
            content: "";
            display: block;
            background: darken($clr-hlight, 9%);
            width: 120vw;
            height: 310px;
            left: -20vw;
            margin: 0 -4.5rem;
            padding-left: calc(10vw + 3rem);
            top: 240px;
            position: relative;
            z-index: $z-m + 1;
        }
        .title {
            @extend %all-caps;
            transition: all ease 0.3s;
            padding-top: $size-m;
            position: relative;
            top: -142px;
            z-index: $z-m;
            text-align: center;
            display: inline-block;
            transform: translateX(-25%);
            left: 25%;

            &:before {
                content: "";
                background: url(../img/shape-triangle.svg) no-repeat;
                background-size: 100%;
                width: 580px;
                height: 472px;
                display: block;
                position: absolute;
                z-index: -1;
                top: 5px;
                transform: translateX(-50%);
                left: 50%;
            }
            &.right {
                left: 54%;
            }
        }
        .items-holder {
            height: 250px;
            position: relative;
            z-index: $z-m + 2;

            .items-left, .items-right {
                @include flexbox;
                @include justify-content(space-between);
                @extend .animated;
                transition: opacity 0.5s ease;
                width: 100%;
                position: absolute;
                top: -95px;

                a {
                    @extend .animated;
                    @extend .rollOut;
                    display: inline-block;
                    text-align: center;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 0 $size-xs;

                    picture {
                        @extend %img-round;
                    }
                }
                &.inactive {
                    opacity: 0;
                }
            }
            .items-left {
                
                &.active {
                    @extend .slideInLeft;
                }
                &.inactive {
                    @extend .slideOutLeft;
                }
            }
            .items-right {
                
                &.active {
                    @extend .slideInRight;
                }
                &.inactive {
                    @extend .slideOutRight;
                }
            }
            &.slide-in {

                .items-left, .items-right {

                    a {
                        @extend .rollIn;
                    }
                }
            }
        }
        .toggle-left, .toggle-right {
            @extend %all-caps;
            font-size: $font-l;
            text-decoration:  none;
            position: relative;
            text-align: center;
            display: inline-block;
            border: 1px solid $clr-link;
            border-radius: 50px;
            text-decoration: none;
            color: $clr-link;
            font-weight: 500;
            white-space: nowrap;
            min-width: 120px;
            padding: $size-s $size-m;
            padding-left: 60px;
            text-align: center;
            cursor: pointer;
            z-index: $z-l;

            .btn-icon {
                position: absolute;
                left: 20px;
                top: 8px;
                width: $size-m;
            }

            &:first-of-type .btn-icon {
                top: 4px;
            }

            &.active, &:hover, &:focus {
                background-color: $clr-link;
                color: #fff;
                transition: all ease 0.3s;

                .btn-icon * {
                    fill: #fff;
                    transition: all ease 0.3s;
                }
            }
        }
        .toggle-left {
            transform: translateX(-25%);
            left: calc(25% + 2rem);
        }
        .toggle-right {
            transform: translateX(-75%);
            left: 50%;
        }
    }
    @media (max-width: $breakpoint-1) {
        top: -200px;
        margin-bottom: 10px;

        blockquote {
            left: 0;
        }
 
    }
    @media (max-width: 1400px) {

        .slider {
            
            &:before {
                height: 240px;
                top: 215px;
            }
            .title {
                top: -75px;
                font-size: $font-m;
                padding-top: $size-s;

                &:before {
                    width: 450px;
                    //top: -45px;
                    //left: -15px;
                }
                &.right {
                    left: 55%;
                }
            }
            .items-holder {
                height: 220px;

                .items-left, .items-right {
                    top: -50px;

                    a {
                        picture {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }
            .toggle-left, .toggle-right {
                font-size: $font-m;
                top: 10px
            }
        }
    }
    @media (max-width: 1080px) {

        .inner {
            top: 40px;
        }
        .slider {
            
            &:before {
                height: 200px;
                top: 178px;
            }
            .title {
                top: -75px;

                &:before {
                    width: 400px;
                    //top: -45px;
                    //left: 0;
                }
                &.right {
                    left: 58%;
                }
            }
            .items-holder {
                height: 180px;

                .items-left, .items-right {
                    top: -40px;

                    a {
                        font-size: $font-xs;
                        picture {
                            width: 110px;
                            height: 110px;
                        }
                    }
                }
            }
            .toggle-left, .toggle-right {
                top: 10px
            }
        }
    }
    @media (max-width: 767px) {
        
        &:before {
            height: calc(100% + 8rem);
        }
        .inner {
            top: 20px;

            blockquote {
                @include order(2);
                border-top: 2px solid $clr-darker;
                border-bottom: 2px solid $clr-darker;
                text-align: center;
                margin-bottom: $size-m;
                padding: $size-m 0;
            }
            article {
                @include order(1);
                margin-bottom: $size-l;
            }
        }
        .slider {
            transform: rotate(0);
            top: -150px;
            margin-left: -$size-m;
            margin-right: -$size-m;

            &:before {
                background: none;
            }
            .title {
                display: none;
                
                &.right {
                    left: 55%;
                }
            }
            .items-holder {

                .items-left, .items-right {
                    @include flex-wrap(wrap);
                    @include align-items(flex-start);
                    top: 0;

                    a {

                        &:last-of-type {
                            display: none;
                        }
                    }
                }
            }
            .toggle-left, .toggle-right {        
                top: auto;
                bottom: -$size-xl;
                position: absolute;
                padding: $size-xs $size-m;
                padding-left: 40px;

                .btn-icon {
                    width: $font-s;
                    left: 15px;
                }
            }
            .toggle-left:first-of-type {
                left: $size-m;

                .btn-icon {
                    top: 0px;
                }
            }
            .toggle-right {
                transform: none;
                left: auto;
                right: $size-l;

                .btn-icon {
                    top: 2px;
                }
            }
        }
    }
    @media (max-width: $breakpoint-3) {
        top: -440px;
        margin-bottom: -210px;
        
        &:before {
            width: 200vw;
        }
    }
    @media (max-width: 560px) {

        .slider .items-holder {
            height: 310px;
        }
    }
    @media (max-width: $breakpoint-4) {
        top: -340px;
        
        &:before {
            width: 200vw;
        }
        .slider {

            .toggle-left {
                left: 0;
            }
            .toggle-right {
                right: 0;
            }
        }

    }
}