
// News highlights
// ============
// Lists with icons to display skill levels

.news-highlights {
    @extend %pseudo;
    padding: 0;
    width: 100%;
    max-width: none;
    margin-bottom: 150px;

    &:before {
        position: absolute;
        width: calc(100% - 6.7rem);
        height: 100%;
        left: 3rem;
        top: 3rem;
        background: $clr-light;
        top: -800px;
        height: calc(100% + 950px);
        z-index: -1;
    }   
    .inner {
        padding: $size-s;
        margin: 0;
    }
    article {
        @extend %col-lg-4;
        @extend %col-lg-offset-1;
        @extend %col-sm-6;
        @extend %col-xs-12;
        position: relative;
        z-index: $z-m;
    }
    @media (max-width: 1199px) {
        padding: 0 $size-l;
    }
    @media (max-width: 900px) {
        padding: 0;
        margin-bottom: 100px;

        &:before {
            width: 100%;
            left: 0;
            height: calc(100% + 900px);
        }
    }
    @media (max-width: $breakpoint-4) {
        
        &:before {
            width: 100%;
            left: 0;
        }
    }
}