
// News highlights
// ============
// Lists with icons to display skill levels

.news-highlights {
    @extend %pseudo;
    @extend %full-width-gap;
    margin-bottom: 150px;

    &:before {
        position: absolute;
        background: $clr-light;
        width: calc(100% - 3rem);
        left: $size-m;
        top: -800px;
        height: calc(100% + 950px);
        z-index: -1;
    }   
    article {
        @extend %col-sm-6;
        @extend %col-xs-12;
        position: relative;
        z-index: $z-m;
    }
    @media (max-width: 767px) {
        
        margin-bottom: 100px;

        &:before {
            width: 100%;
            left: 0;
            height: calc(100% + 900px);
        }
    }
    @media (max-width: $breakpoint-4) {
        
        &:before {
            width: 100%;
            left: 0;
        }
    }
}