//- Global variables

- var siteName        = "Alex Plummer | Frontend Web Designer London";
- var siteDescription = "Alex Plummer is a hybrid frontend developer in London specialising in appealing, and creative web design and also the latest tech such as ES6 Javascript development.";
- var siteURL         = "http://wwww.alexplummer.com";
- var brand           = "#009DC9";
- var siteAuthor      = "Alex Plummer";
- var shareImage      = "http://wwww.alexplummer.com/img/logo-main.png"; // Used for og and twitter
- var phone           = "07815917920";
- var email           = "info@alexplummer.com";
- var fb              = "https://www.facebook.com/alexplummer1986";
- var tw              = "twitter.com/EasyLearningTT"
- var li              = "https://www.linkedin.com/in/alex-plummer-08aab485/";