
//- Intro no description
//- ============
//- Intro without any description text

mixin introNoDescription(heading)
	.intro-no-description
		header
			.inner
				.splash-heading
					h1.logo-main!= heading
				.lined-heading
					block