
// Intro no description
// ============
// Intro without any description text

.intro-no-description {
    @extend %pseudo;
    height: 1400px;
    margin-bottom: -500px;

    &:before {
        width: calc(100% - 6rem);
        height: 100%;
        left: 3rem;
        top: 3rem;
        background: $clr-light;

        @media(max-width: $breakpoint-3) {
            width: calc(100% - 4rem);
            left: 2rem;
            top: 2rem;
        }
        @media(max-width: $breakpoint-4) {
            width: calc(100% - 2rem);
            left: 0;
        }
    }
    .inner {
        
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            z-index: $z-m;
            width: 50%;
            height: 550px;
            background-image: url(../img/bg-ovals.svg);
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: cover;
        }
        .splash-heading {
            
            .shape-splat-oval, .shape-splat, .shape-splat-drip {
                position: absolute;
                z-index: $z-m;
            }
            .shape-splat-oval {
                @extend %splatter-oval;
                left: 0px;
                width: 400px;
            }
            .shape-splat {
                @extend %splatter-splat;
                left: -300px;
                top: -180px;
                width: 1070px;
            }
            .shape-splat-drip {
                @extend %splatter-drip;
                width: 83px;
                left: 130px;
                top: 440px;
            }
            h1, h1 span {
                font-family: $font-body;
                font-size: $font-l;
                font-weight: 100;
                letter-spacing: 15px;
                color: #fff;
                font-size: $font-m;
                text-transform: uppercase;
            }
            h1 {
                position: absolute;
                top: 170px;
                left: 90px;
                z-index: $z-m + 1;
                padding: 0;
                margin: 0;
            }
            h1 span {
                font-size: $font-xl;
                font-weight: 500;
                letter-spacing: 30px;
                display: block;
            }
        }
        .lined-heading {
            @extend %lined-heading;
            overflow: hidden;
            position: absolute;
            top: $size-l;
            left: calc(50% + 100px);
            overflow: hidden;

            h2 {
                transform: skewY(8deg);
                
                .first {
                    @extend %bounce-skew-right-1;
                }
                .middle {
                    @extend %bounce-skew-right-2;
                }
                .last {
                    @extend %bounce-skew-right-3;
                }
            }
        }
    }

    @media(max-width: $breakpoint-1) {
        
        .inner {

            &:before {
                top: 130px;
                padding-top: 165px;
                height: 150px;
            }
            .splash-heading {
                
                .shape-splat-oval {
                    left: -50px;
                    width: 300px;
                }
                .shape-splat {
                    left: -300px;
                    top: -180px;
                    width: 900px;
                }
                .shape-splat-drip {
                    width: 63px;
                    left: 69px;
                    top: 340px;
                }
                h1 {
                    top: 122px;
                    left: 40px;
                    font-size: $font-m;
                    letter-spacing: 6px;
                    line-height: $font-m;
                }
                h1 span {
                    font-size: $font-l;
                    letter-spacing: 20px;
                }
            }
        }
    }

    @media(max-width: $breakpoint-2) {
        height: 900px;
        margin-bottom: 0;

        .inner {

            &:before {
                top: 100px;
                padding-top: 115px;
                height: 110px;
            }
            .splash-heading {
                
                h1 {
                    top: 100px
                }
                .shape-splat-oval {
                    left: -20px;
                    width: 250px;
                }
                .shape-splat {
                    left: -210px;
                    top: -90px;
                    width: 700px;
                }
                .shape-splat-drip {
                    left: 74px;
                    top: 314px;
                    width: 52px;
                }
            }
            .lined-heading {
                
                h2.long {
                    padding-top: 200px;
                }
            }
        }
    }

    @media(max-width: $breakpoint-3) {
        
        .inner {
            
            &:before {
                top: 45px;
                padding-top: 115px;
                height: 115px;
            }
            .splash-heading {
            
                .shape-splat-oval {
                    left: -10px;
                    width: 175px;
                }
                .shape-splat {
                    left: -140px;
                    top: -80px;
                    width: 500px;
                }
                .shape-splat-drip {
                    left: 62px;
                    top: 168px;
                    width: 39px;
                }
                h1 {
                    top: 60px;
                    left: 30px;
                    font-size: $font-xs;
                    letter-spacing: 6px;
                    line-height: $font-xxs;
                }
                h1 span {
                    font-size: $font-s;
                    letter-spacing: 18px;
                }
            }
            .lined-heading {
                position: relative;
                top: 2rem;
                left: calc(50% + 50px);

                h2.long {
                    padding-top: 160px;
                }
            }
        }
    }
    @media(max-width: $breakpoint-4) {
        
        .inner {
            
            &:before {
                top: 145px;
                padding-top: 115px;
                height: 115px;
                left: -75px;
            }
            .lined-heading {
                position: relative;
                top: 2rem;
                left: calc(50% - 3rem);

                h2.long {
                    padding-top: 255px;
                }
            }
            .splash-heading {
        
                .shape-splat-oval {
                    left: -10px;
                    width: 175px;
                }
                .shape-splat {
                    left: -170px;
                    top: -80px;
                    width: 500px;
                }
                .shape-splat-drip {
                    left: 30px;
                    top: 203px;
                    width: 44px;
                }
                h1 {
                    top: 60px;
                    left: 10px;
                }
            }
        }
    }
}