
//- Intro no description
//- ============
//- Intro without any description text

mixin introNoDescription(heading)
	header.m-intro-no-description
		.inner
			.splash-heading
				h1.logo-main= heading
			.lined-heading
				block