
//- Work entry
//- ============
//- An overview of a piece of work

mixin workEntry(heading, description)
	article(class!=attributes.class).work-entry
		.inner
			block
				
			.content
				h3= heading
				p= description
				button.modal-toggle Check it out
				img(src="img/icon-design.svg"  aria-hidden="true" role="presentation")
				img(src="img/icon-code-browser.svg"  aria-hidden="true" role="presentation")