
// List info
// ============
// Lists of info points with icon for each definition

.list-info {
    position: relative;
    top: 100px;
    margin-bottom: 200px;
    z-index: $z-m;

    &:before {
        @extend %bg-geometry;
        height: calc(100% + 3rem);
        top: 0;
        transform: rotate(8deg);
    }
    picture {
        @extend %img-round;
        @extend .animated;
        @extend .flipOutY;
        position: absolute;
        left: 8%;
        top: 27px;
        z-index: $z-m;
    }
    &.active picture {
        @extend .flipInY;
    }
    .heading {
        @extend %pseudo;
        position: relative;
        width: 75%;
        margin-left: -25%;
        background: $clr-hlight;
        transform: skewY(8deg);
        height: 250px;

        h2, h2 span {
            @extend %heading-xxxl;
            text-align: right;
        }
        h2 {
            padding-left: calc(200px + 3rem);
            padding-right: $size-m;
        }
        h2 span {
            display: block;
        }
        &:before {
            transform: skewY(-8deg);
            width: 100%;
            left: 110%;
            top: -35px;
            height: 450px;
            background-image: url(../img/bg-ovals.svg);
        }
    }
    .inner {
        position: relative;
        z-index: $z-m;

        dl {
            @extend %col-sm-4;
            @extend %col-sm-offset-2;
            @extend %col-xs-12;
            padding-top: $size-xl;

            &:nth-of-type(2) {
                padding-top: 160px;
                @extend %col-md-offset-1;
            }
            dt {
                @extend %pseudo;
                @extend %heading-mid;
                text-transform: uppercase;
                padding-bottom: $size-m;
                border-bottom: 1px solid $clr-darker;

                &:before {
                    left: -80px;
                    width: 60px;
                    height: 60px;
                    background-size: 100%;
                }
                
            }
            $icons: 'baby','glasses', 'code', 'boot', 'hand', 'chat-bubble';

            @each $icon in $icons {
                .icon-#{$icon}:before {
                    background-image: url(../img/icon-#{$icon}.svg);
                }
            }
            &:nth-of-type(2) dt:before {
                width: 50px;
                left: -75px;
            }
            .icon-hand:before {
                height: 80px;
            }
        }
    }
    @media (max-width: $breakpoint-1) {

        picture {
            left: 15%;
            top: 80px;
            width: 150px;
            height: 150px;
        }
        .heading {
            padding-top: $size-l;
            top: $size-m;

            h2, h2 span {
                font-size: $font-xxl;
                line-height: $font-xxl;
            }
            &:before {
                top: -30px;
            }
        }
    }
    @media (max-width: 991px) {

        picture {
            left: 5%;
            top: 80px;
        }
        .heading {
            top: $size-m;
            
            &:before {
                top: 0;
            }
        }
    }
    @media (max-width: $tablet - 1px) {

        picture {
            display: none;
        }
        .heading {
            height: 190px;
            width: 75%;

            h2 {
                padding-left: 0;
            }
            h2, h2 span {
                font-size: $font-xl;
                line-height: $font-xl;
            }
            &:before {
                top: -20px;
                height: 360px;
            }
        }
        .inner {
            top: $size-m;

            dl dt, dl dd {
                margin-left: $size-s;
                margin-right: $size-m;
            }
            dl {
                padding-top: $size-l;
                margin-bottom: 0;

                dt {
                    padding-bottom: $size-s;
                    margin-bottom: 0;

                    &:before {
                        width: 30px;
                        height: 30px;
                        left: -50px;
                        top: $size-m;
                    }
                }
                dd {
                    margin-bottom: $size-m;
                }
                &:nth-of-type(2) {
                    padding-top: 0;
                }
                &:nth-of-type(2) dt:before {
                    width: 25px;
                    left: -50px;
                }
                .icon-hand:before {
                    height: 80px;
                }
            }
        }
        &:before {
            height: calc(100% + 6rem);
        }
    }
    @media (max-width: $breakpoint-4) {
        
        &:before {
            width: 300vw;
            left: -50vw;
        }
        .heading {

            &:before {
                top: -10px;
            }
        }
    }
}