
//- List info
//- ============
//- Lists of info points with icon for each definition

mixin listInfo()
	section.list-info
		picture
			img(src="img/media/screen-euromoney.jpg")
		.heading
			h2 
				| More 
				span info
		
		.inner
			dl
				dt.icon-baby Made in Guildford
				dd Alex Plummer is a frontend developer and designer, bringing together

				dt.icon-glasses Uni at Goldsmiths
				dd Alex Plummer is a frontend developer and designer, bringing together

				dt.icon-code Work in London
				dd Alex Plummer is a frontend developer and designer, bringing together
			
			dl
				dt.icon-boot Enjoy kickboxing
				dd Alex Plummer is a frontend developer and designer, bringing together

				dt.icon-hand and some climbing
				dd Alex Plummer is a frontend developer and designer, bringing together

				dt.icon-chat Parlo Italiano (un po')
				dd Alex Plummer is a frontend developer and designer, bringing together
