// Animations
// ============
// Global animations go here

%splatter-oval {
  animation-name: splatter-oval;
  animation-duration: 1.5s;
  animation-fill-mode: both; 
}
%splatter-splat {
  animation-name: splatter-splat;
  animation-duration: 1.5s;
  animation-fill-mode: both; 
  animation-delay: 0.3s; 
}
%splatter-drip {
  animation-name: splatter-drip;
  animation-duration: 1.5s;
  animation-fill-mode: both; 
  animation-delay: 1.2s; 
}
@keyframes splatter-oval {
    0% {
        transform: scale3d(0, 0, 0);
        transform-origin: center;
    }
}
@keyframes splatter-splat {
    0% {
        transform: scale3d(0, 0, 0);
        transform-origin: center;
    }
}
@keyframes splatter-drip {
    0% {
        transform-origin: top;
        transform: scale3d(1, 1, 0);
        top: -1000px;
    }
}
