// Animations
// ============
// Global animations go here

// Splatter
%splatter-oval, %splatter-splat, %splatter-drip {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0,0,0,1);
}
%splatter-oval {
    animation-name: splatter-oval;
}
%splatter-splat {
    animation-name: splatter-splat;
    animation-delay: 0.3s;
}
%splatter-drip {
    animation-name: splatter-drip;
    animation-delay: 1.2s;
}
%splatter-right, %splatter-right-out, %splatter-left, %splatter-left-out {
    animation-name: splatter-right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0,0,0,1);
}
%splatter-right-out {
    animation-name: splatter-right-out;
}
%splatter-left {
    transform: scale3d(1, 1, 1) rotate(20deg);
    animation-name: splatter-left;
}
%splatter-left-out {
    animation-name: splatter-left-out;
}

@keyframes splatter-oval {
    0% {
        transform: scale3d(0, 0, 0);
        transform-origin: center;
    }
}
@keyframes splatter-splat {
    0% {
        transform: scale3d(0, 0, 0);
        transform-origin: center;
    }
}
@keyframes splatter-drip {
    0% {
        transform-origin: top;
        transform: scale3d(1, 1, 0);
        top: -1000px;
    }
}
@keyframes splatter-right {
    0% {
        transform: scale3d(0, 0, 0) rotate(-35deg);
        transform-origin: right top;
    }
}
@keyframes splatter-right-out {
    100% {
        transform: scale3d(0, 0, 0) rotate(-35deg);
        transform-origin: right top;
    }
}
@keyframes splatter-left {
    0% {
        transform: scale3d(0, 0, 0) rotate(20deg);
        transform-origin: top left;
    }
}
@keyframes splatter-left-out {
    100% {
        transform: scale3d(0, 0, 0) rotate(20deg);
        transform-origin: top left;
    }
}

// Bounce skew right
%bounce-skew-right-1, %bounce-skew-right-2, %bounce-skew-right-3 {
    animation-name: bounceSkewRight;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: both;
}
%bounce-skew-right-2 {
    animation-delay: 0.7s;
}
%bounce-skew-right-3 {
    animation-delay: 0.5s;
}
@keyframes bounceSkewRight {
    0% {
        transform: translateY(-1000px);
    }
	20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
	40% {
        transform: translateY(-30px);
    }
	60% {
        transform: translateY(-15px);
    }
}

// Fade In Fade Out
%fade-in-slight {
    animation-name: fadeInSlight;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes fadeInSlight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

// Slide up and down
%slide-up-down {
    animation-name: slideUpDown;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    95% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

// Fade in and out
%fade-in-out {
    animation-name: fadeInOut;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    opacity: 0.3;
}
@keyframes fadeInOut {

    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

// Rotate out up
%rotate-out-up {
    animation-name: rotateOutUp;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes rotateOutUp {

    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

// Spin
%spin {
    animation-name: spin;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes spin {

    0% {
        transform: translateX(-50%) rotate(0);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

// Swing
%swing {
    animation-name: swing;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes swing {

    0% {
        transform: translateX(-50%) rotate(30deg);
    }
    50% {
        transform: translateX(-50%) rotate(-30deg);
    }
    100% {
        transform: translateX(-50%) rotate(30deg);
    }
}

// Spin position left
@mixin spin-position-left {
    animation-name: spinPositionLeft;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes spinPositionLeft {

    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Swing position left
@mixin swing-position-left {
    animation-name: swingspinPositionLeft;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes swingspinPositionLeft {

    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}