
// News link
// ============
// Link to a news story

.news-link {
    position: relative;

    picture {
        @extend .animated;
        @extend %img-round;
        @extend .flipOutY;
        position: absolute;
        top: 0;
    }
    .active & picture {
        @extend .flipInY;
    }
    h3, p, button, time {
        margin-left: 225px;
        text-decoration: none;
    }
    h3 {
        @extend %heading-mid;
        font-family: $font-header;
        text-transform: none;
    }
    p, time {
        margin-bottom: $size-m;
        font-size: $font-m;
        line-height: $font-baseline;
    }
    time {
        font-size: $font-s;
        padding: $size-xs;
        border-top: 1px solid $clr-darker;
        border-bottom: 1px solid $clr-darker;
    }
    a {
        text-decoration: none;
    }
    @media (max-width: $breakpoint-1) {

        picture {
            width: 150px;
            height: 150px;
        }
        h3, p, time, button {
            margin-left: 175px;
        }
    }
    @media (max-width: 1080px) {

        picture {
            width: 120px;
            height: 120px;
        }
        h3, p, time, button {
            margin-left: 145px;
        }
        h3 {
            font-size: $font-m;
            padding-bottom: $size-s;
            margin-bottom: 0;
        }
        p {
            font-size: $font-s;
        }
    }
    @media (max-width: $tablet - 1px) {
        
        margin-bottom: $size-l * 2;

        picture {
            width: 80px;
            height: 80px;
        }
        h3 {
            padding-top: 0;
        }
        h3, p, time, button {
            margin-left: 100px;
        }
    }
    @media (max-width: $breakpoint-4) {
        
        position: relative;
        margin-bottom: $size-xl * 1.5;

        p {
            margin-bottom: $size-m;
        }
        button {
            clear: both;
            margin: 0;
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}