
//- News link
//- ============
//- Link to a news story

mixin newsLink(heading, date, content)
	article.news-link
		a(href!=attributes.href)
			picture
				img(data-src!=attributes.src)
			h3!= heading
			time(pubdate="pubdate")!= date
			p!= content
			button Continue reading
						