
//- Article
//- ============
//- A news article

//- Extend head of document
extends _includes/_head

//- Page vars
block pageVars
	- var bodyClass = 'article'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/heading-image/_heading-image
include ../components/news-article/_news-article
include ../components/related-news/_related-news
include ../components/footer/_footer

block content

	//- CMS config
	<cms:template title="Article" clonable="1" dynamic_folders='1'></cms:template>
	<cms:editable name="group_news_article_header" label="News article header" desc="Header for news article" type="group"></cms:editable>
	
	//- Image heading
	- var heading = '<cms:show k_page_title">"'
	+headingImage(heading)(src="img/media/hero-sample.jpg")
	<cms:hide>
	<cms:editable name="article_thumb" group="group_news_article_header" label="Article thumb image" type="image"></cms:editable>
	<cms:editable name="article_thumb_alt" group="group_news_article_header" label="Article thumb alt" type="text"></cms:editable>
	</cms:hide>

	//- Main nav
	+navVertical
	
	main(role="main" id="maincontent")
		//- Article
		+newsArticle

		//- Related news
		+relatedNews
			
	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			<cms:editable name='json_ld' label='JSON_LD' desc='JSON_LD for the page' group='group_meta' type='textarea' no_xss_check='1'>
			include _includes/json-ld/WebSite.html
			include _includes/json-ld/NewsArticle.html
			</cms:editable>
			| ]

	//- Add this
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c6759b75b46ce8"></script> 

	//- Under document content
	include _includes/_under