//- Extend head of document
extends _includes/_head
block bodyClassVar
	- var bodyClass = 'article'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/news-article/_news-article
include ../components/related-news/_related-news
include ../components/footer/_footer

//- Page title
block title
	title Article | Alex Plummer Portfolio

block content

	//- Main nav
	+navVertical
	
	//- Article
	+newsArticle

	//- Related news
	+relatedNews
		
	//- Footer
	+footer

	//- Add this
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c6759b75b46ce8"></script> 

	//- Under document content
	include _includes/_under