
//- Chat
//- ============
//- A contact page

//- Extend head of document
extends _includes/_head

//- Page vars
block pageVars
	- var bodyClass = 'chat'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/contact-form/_contact-form
include ../components/citation/_citation
include ../components/social-personal/_social-personal
include ../components/footer/_footer

block content

	//- CMS config
	<cms:template title="Chat"></cms:template>
	<cms:editable name="group_intro" label="Intro" desc="Intro to page" type="group"></cms:editable>
	<cms:editable name="group_quote" label="Quotes" desc="Quotes with author" type="group"></cms:editable>

	//- Intro title	and description
	- var heading = 'Chat'
	- var subheading = '<cms:editable name="intro_subheading" label="Intro subheading" desc="Subheading for the intro" group="group_intro" type="text"></cms:editable>'
	+intoWithDescription(heading, subheading)(class="chat")
		<cms:editable name="intro_content" label="Intro content" desc="Content for the intro" group="group_intro" type="richtext"></cms:editable>
	
	//- Main nav
	+navVertical
	
	main(role="main" id="maincontent")
		section
			.inner
				//- Contact form
				+contactForm

				aside
					//- Citation
					- var cite = "<cms:editable name='chat_citation_1' label='Chat citation one' desc='First chat citation' group='group_quote' type='richtext'></cms:editable>"
					- var author = "<cms:editable name='chat_citation_author_1' label='Chat citation one author' desc='First chat citation author' group='group_quote' type='richtext'></cms:editable>"
					+citation(cite, author)

					//- Citation
					- var cite = "<cms:editable name='chat_citation_2' label='Chat citation two' desc='Second chat citation' group='group_quote' type='richtext'></cms:editable>"
					- var author = "<cms:editable name='chat_citation_author_2' label='Chat citation two author' desc='Second chat citation author' group='group_quote' type='richtext'></cms:editable>"
					+citation(cite, author)
		
		//- Links to online profiles
		+socialPersonal

	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			<cms:editable name='json_ld' label='JSON_LD' desc='JSON_LD for the page' group='group_meta' type='textarea' no_xss_check='1'>
			include _includes/json-ld/ContactPage.html
			</cms:editable>
			| ]

	//- Under document content
	include _includes/_under
