//- Extend head of document
extends _includes/_head

//- Components used on page
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/contact-form/_contact-form
include ../components/citation/_citation
include ../components/social-personal/_social-personal
include ../components/footer/_footer

//- Page title
block title
	title Contact | Alex Plummer Portfolio

block content

	//- Main nav
	+navVertical

	//- Intro title	and description
	- var heading = 'Contact'
	- var subheading = 'Get in touch'
	+intoWithDescription(heading, subheading)(class="contact")
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
	
	section
		//- Contact form
		+contactForm

		aside
			//- Citation
			- var cite = 'Design and code in beautiful harmony'
			- var author = '- Some name, author'
			+citation(cite, author)

			//- Citation
			- var cite = 'Design and code in beautiful harmony'
			- var author = '- Some name, author'
			+citation(cite, author)
	
	//- Links to online profiles
	+socialPersonal

	//- Footer
	+footer

	//- Under document content
	include _includes/_under
