extends includes/_head

block title
	title Home | Alex Plummer Portfolio

block content
		//- Main nav
		include components/_nav

		//- Intro title	and description
		include components/_intro-with-description
		- var heading = 'Contact'
		- var subheading = 'Get in touch'
		+intoWithDescription(heading, subheading)(class="contact")
			p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
		
		section
			//- Contact form
			include components/_contact-form

			aside
				//- Citation
				include components/_citation
				- var cite = 'Design and code in beautiful harmony'
				- var author = '- Some name, author'
				+citation(cite, author)

				//- Citation
				include components/_citation
				- var cite = 'Design and code in beautiful harmony'
				- var author = '- Some name, author'
				+citation(cite, author)
		
		//- Links to online profiles
		include components/_social-personal

		//- Footer
		include components/_footer
