extends includes/_head

block title
	title Home | Alex Plummer Portfolio

block content
		//- Main nav
		include components/_nav

		//- Intro title	
		include components/_intro-no-description
		
		//- Showreel
		include components/_showreel
		
		//- Heading splash
		- var alignment = 'left'
		- var headingContent = 'Main skill <span>set</span>'
		include components/_heading-splash

		//- Skills list
		include components/_list-skills

		//- Info list
		include components/_list-info

		//- Heading splash
		- var alignment = 'right'
		- var headingContent = 'Latest <span>news</span>'
		include components/_heading-splash

		//- News highlights
		include components/_news-highlights

		//- Footer
		include components/_footer
