
//- Index
//- ============
//- The homepage for the site

//- Extend head of document
extends _includes/_head

//- Page vars
block pageVars
	- var bodyClass = 'home'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-no-description/_intro-no-description
include ../components/showreel/_showreel
include ../components/heading-splash/_heading-splash
include ../components/list-skills/_list-skills
include ../components/list-info/_list-info
include ../components/news-highlights/_news-highlights
include ../components/footer/_footer

//- Page content
block content

	//- CMS config
	<cms:template title="Home"></cms:template>
	<cms:editable name='group_heading_splash_1' label='Heading Splash' desc='Heading with a splash' type='group'></cms:editable>
	<cms:editable name='group_heading_splash_2' label='Heading Splash' desc='Heading with a splash' type='group'></cms:editable>

	//- Intro title	
	- var heading = '<span>Alex</span> Plummer'
	+introNoDescription(heading)
		h2.long
			span.first Hybrid 
			span.middle Design
			span.last &amp; code
	
	//- Main nav
	+navVertical
	
	main(role="main" id="maincontent")
		//- Showreel
		+showreel

		//- Heading splash
		+headingSplash()(alignment='left' id='first-splash')
			<cms:editable name='heading_splash_1' label='Heading splash text' desc='Text for heading splash skills' group='group_heading_splash_1' type='text'>
			h2
				span.first Main
				| skill
				span.last set
			</cms:editable>

		//- Skills list
		+listSkills

		//- Info list
		+listInfo

		//- Heading splash
		+headingSplash()(alignment= 'right' id='second-splash')
			<cms:editable name='heading_splash_2' label='Heading splash text news' desc='Text for heading splash' group='group_heading_splash_2' type='text'>
			h2
				| Latest
				span news
			</cms:editable>

		//- News highlights
		+newsHighlights

	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			<cms:editable name='json_ld' label='JSON_LD' desc='JSON_LD for the page' group='group_meta' type='textarea'>
			include _includes/json-ld/WebSite.html
			include _includes/json-ld/Person.html
			</cms:editable>
			| ]

	//- Under document content
	include _includes/_under