
//- Index
//- ============
//- The homepage for the site

//- Extend head of document
extends _includes/_head
block bodyClassVar
	- var bodyClass = 'home'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-no-description/_intro-no-description
include ../components/showreel/_showreel
include ../components/heading-splash/_heading-splash
include ../components/list-skills/_list-skills
include ../components/list-info/_list-info
include ../components/news-highlights/_news-highlights
include ../components/footer/_footer

//- Page title
block title
	title Home | Alex Plummer Portfolio

//- Page content
block content

	//- Intro title	
	- var heading = '<span>Alex</span> Plummer'
	+introNoDescription(heading)
		h2.long
			span.first Hybrid 
			span.middle Design
			span.last &amp; code
	
	//- Main nav
	+navVertical
	
	main(role="main" id="maincontent")
		//- Showreel
		+showreel

		//- Heading splash
		+headingSplash()(alignment= 'left' id='first-splash')
			h2
				span.first Main
				| skill
				span.last set

		//- Skills list
		+listSkills

		//- Info list
		+listInfo

		//- Heading splash
		+headingSplash()(alignment= 'right' id='second-splash')
			h2
				| Latest
				span news

		//- News highlights
		+newsHighlights

	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			include _includes/json-ld/WebSite.html
			include _includes/json-ld/Person.html
			| ]

	//- Under document content
	include _includes/_under