//- Extend head of document
extends _includes/_head

//- Components used on page
include ../components/nav-vertical/_nav-vertical
include ../components/intro-no-description/_intro-no-description
include ../components/showreel/_showreel
include ../components/heading-splash/_heading-splash
include ../components/list-skills/_list-skills
include ../components/list-info/_list-info
include ../components/news-highlights/_news-highlights
include ../components/footer/_footer

//- Page title
block title
	title Home | Alex Plummer Portfolio

//- Page content
block content

	//- Main nav
	+navVertical

	//- Intro title	
	- var heading = '<span>Alex</span> Plummer'
	+introNoDescription(heading)
		h2
			span.first Hybrid 
			| Design
			span.last +code

	//- Showreel
	+showreel

	//- Heading splash
	+headingSplash()(alignment= 'left')
		h2
			span.first Main
			| skill
			span.last set

	//- Skills list
	+listSkills

	//- Info list
	+listInfo

	//- Heading splash
	+headingSplash()(alignment= 'right')
		h2
			| Latest
			span news

	//- News highlights
	+newsHighlights

	//- Footer
	+footer

	//- Under document content
	include _includes/_under