
//- News
//- ============
//- News landing page

//- Extend head of document
extends _includes/_head

//- Page vars
block pageVars
	- var bodyClass = 'news'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/news-link/_news-link
include ../components/footer/_footer

block content

	//- CMS config
	<cms:template title="News"></cms:template>
	<cms:editable name="group_intro" label="Intro" desc="Intro to page" type="group"></cms:editable>

	//- Intro title	and description
	- var heading = 'News'
	- var subheading = '<cms:editable name="intro_subheading" label="Intro subheading" desc="Subheading for the intro" group="group_intro" type="text"></cms:editable>'
	+intoWithDescription(heading, subheading)(class="news")
		<cms:editable name="intro_content" label="Intro content" desc="Content for the intro" group="group_intro" type="richtext"></cms:editable>
	
	//- Main nav
	+navVertical

	main(role="main" id="maincontent")
		section.news-highlights
			.inner.news-search

				.tags-wrap
					h4.icon-th Categories
					ul
						<cms:folders masterpage="article.php">
						li
							<cms:show folder_link_custom />
						</cms>
				
				.search-wrap
					h4.icon-search Search all news
					<cms:search_form msg='Enter keyword...' "/>"

					<cms:search masterpage='article.php' limit='10' >
						<cms:if k_paginated_top >
						.record-listing
							h4 Pages found: <cms:show k_total_records "/>" 
						</cms:if>

						.search-listing
							h4 &rsaquo; 
								a(href='<cms:show k_search_link "/>"')
									<cms:show k_search_title "/>"
						
							<cms:no_results>
								h4 No pages found for <cms:show k_search_query "/>"
							</cms:no_results>
						
						<cms:paginator "/>"

					</cms:search>
				
			.inner

				//- News link
				<cms:pages masterpage="article.php" folder="<cms:gpc 'cat' />" limit="8" paginate='1'>
				- var heading = '<cms:show k_page_title "/>"'
				- var date = '<cms:date k_page_date format="jS F, Y" "/>"'
				- var content = '<cms:excerptHTML count="70" ignore="img"><cms:show article_standfirst "/>"</cms:excerptHTML>'
				+newsLink(heading, date, content)(src="<cms:show article_thumb />" href="<cms:show k_page_link />")

				<cms:paginator "/>"
				</cms:pages>

	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			<cms:editable name='json_ld' label='JSON_LD' desc='JSON_LD for the page' group='group_meta' type='textarea' no_xss_check='1'>
			include _includes/json-ld/WebSite.html
			include _includes/json-ld/NewsArticle.html
			</cms:editable>
			| ]

	//- Under document content
	include _includes/_under
