extends includes/_head

block title
	title Home | Alex Plummer Portfolio

block content
		//- Main nav
		include components/_nav

		//- Intro title	and description
		include components/_intro-with-description
		- var heading = 'News'
		- var subheading = 'Updates, thoughts +more'
		+intoWithDescription(heading, subheading)(class="news")
			p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
			p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
		
		section
			include components/_news-link
			//- News block
			- var heading = 'Lorem ipsum dolor sit'
			- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
			+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")

			//- News block
			- var heading = 'Lorem ipsum dolor sit'
			- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
			+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")

			//- News block
			- var heading = 'Lorem ipsum dolor sit'
			- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
			+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")

			//- News block
			- var heading = 'Lorem ipsum dolor sit'
			- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
			+newsLink(heading, content)(src="img/media/sample-news.jpg" href="news-story.html")
		
		//- Footer
		include components/_footer
