//- Extend head of document
extends _includes/_head
block bodyClassVar
	- var bodyClass = 'news'

//- News
//- ============
//- News landing page

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/news-link/_news-link
include ../components/footer/_footer

//- Page title
block title
	title News | Alex Plummer Portfolio

block content

	//- Intro title	and description
	- var heading = 'News'
	- var subheading = 'Updates, thoughts +more'
	+intoWithDescription(heading, subheading)(class="news")
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.

	//- Main nav
	+navVertical

	main(role="main" id="maincontent")
		section.news-highlights
			.inner
				//- News link
				- var heading = 'Lorem ipsum dolor sit'
				- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
				+newsLink(heading, content)(src="img/media/screen-euromoney.jpg" href="article.html")

				//- News link
				- var heading = 'Lorem ipsum dolor sit'
				- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
				+newsLink(heading, content)(src="img/media/screen-euromoney.jpg" href="article.html")

				//- News link
				- var heading = 'Lorem ipsum dolor sit'
				- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
				+newsLink(heading, content)(src="img/media/screen-euromoney.jpg" href="article.html")

				//- News link
				- var heading = 'Lorem ipsum dolor sit'
				- var content = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci.'
				+newsLink(heading, content)(src="img/media/screen-euromoney.jpg" href="article.html")

	//- Footer
	+footer
		script(type="application/ld+json") 
			| [
			include _includes/json-ld/WebSite.html
			include _includes/json-ld/NewsArticle.html
			| ]

	//- Under document content
	include _includes/_under
