//- Extend head of document
extends _includes/_head

//- Components used on page
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/work-showcase/_work-showcase
include ../components/footer/_footer

//- Page title
block title
	title Work | Alex Plummer Portfolio

block content

	//- Main nav
	+navVertical

	//- Intro title	and description
	- var heading = 'Work'
	- var subheading = 'A selection of my work'
	+intoWithDescription(heading, subheading)(class="work")
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
	
	section.work-showcase.digital
		.inner
			h3 
				| Digital
				span Design
				span Code

			//- Work entry
			- var heading = 'Euromoney PLC'
			- var description = 'Test description'
			+workShowcase(heading, description)(class="left design code" src="img/media/sample-iso.png")
	
	section.work-showcase.print
		.inner
			h3 
				| Print
				
			//- Work entry
			- var heading = 'Euromoney PLC'
			- var description = 'Test description'
			+workShowcase(heading, description)(class="left design code" src="img/media/sample-iso.png")
	
	section.work-showcase.branding
		.inner
			h3 
				| Branding
				
			//- Work entry
			- var heading = 'Euromoney PLC'
			- var description = 'Test description'
			+workShowcase(heading, description)(class="left design code" src="img/media/sample-iso.png")
	
	//- Footer
	+footer

	//- Under document content
	include _includes/_under