
//- Work
//- ============
//- Main showcase of work

//- Extend head of document
extends _includes/_head
block bodyClassVar
	- var bodyClass = 'work'

//- Includes
include ../components/nav-vertical/_nav-vertical
include ../components/intro-with-description/_intro-with-description
include ../components/work-showcase/_work-showcase
include ../components/work-modal/_work-modal
include ../components/footer/_footer

//- Page title
block title
	title Work | Alex Plummer Portfolio

block content

	//- Intro title	and description
	- var heading = 'Work'
	- var subheading = 'A selection of my work'
	+intoWithDescription(heading, subheading)(class="work")
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
		p Alex Plummer is a frontend developer and designer, bringing together a love for creative graphic design and it’s application using the latest tech, provoking yet always keeping the user experience as the highest priority.
	
	//- Main nav
	+navVertical

	main(role="main" id="maincontent")
		//- Work modal
		+workModal

		//- Showcase of work
		+workShowcase

	//- Footer
	+footer
	script(type="application/ld+json") 
		| [
		include _includes/json-ld/CollectionPage.html
		| ]

	//- Under document content
	include _includes/_under