// Work modal
// ============
// (Write description here)
.work-modal {
    @extend .animated;
    @extend %pseudo;
    @extend %container;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    padding-left: $size-xl * 1.3;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: $z-max;

    &:before {
        @extend .animated;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 1000vw;
        height: 1000vh;
        background: fade-out($clr-primary, 0.1);
        z-index: -2;
    }
    &.active {
        display: block;

        &:before {
           @extend %fade-in-slight;
        }
    }
    .inner {
        height: 100%;
        margin: 0;
    }
    .screenshots {
        @extend %col-sm-7;
        @extend %col-md-8;
        @include align-self(center);
        text-align: center;
        position: relative;

        svg {
            width: 80%;
            height: 0%;
        }
        span {
            display: none;
        }
        .screens {
            position: relative;
            position: absolute;
            width: calc(80% - #{$size-m * 4});
            height: 64%;
            top: $size-m;
            left: 50%;
            transform: translate(-50%, 0);
            overflow: hidden;
            box-shadow: 0 0 40px 0 rgba(250, 250, 250, .2);
            border: 3px solid rgba(0, 0, 0, .7);

            .screen-1, .screen-2, .screen-3 {
                z-index: $z-m + 1;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    margin: 0 0 -4px 0;
                    padding: 0;
                    transition: all ease .3s;
                }
            }
            &.position-0 {

                img {
                    transform: translateY(0);
                }
            }
            &.position-1 {

                img {
                    transform: translateY(-100%);
                }
            }
            &.position-2 {

                img {
                    transform: translateY(-200%);
                }
            }
        }
        .screen-2, .screen-3 {
            z-index: $z-m + 2;
        }
        .controls {
            position: absolute;
            bottom: 0;
            left: 12%;

            a {
                display: inline-block;
                margin-right: $size-s;
                width: $size-m * 1.2;
                height: $size-m * 1.2;
                border-radius: 50%;
                background: $clr-link;
                box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
                transition: all ease .3s;
                
                &.active, &:hover, &:focus {
                    width: $size-m * 1.3;
                    height: $size-m * 1.3;
                    background: $clr-link-hover;
                    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .6);
                }
            }
        }
    }
    .content {
        @extend %col-sm-5;
        @extend %col-md-4;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .3);
        margin-top: $size-xl;
        height: calc(100% - #{$size-xl * 2});
        overflow-x: hidden;
        overflow-y: scroll;
        background: rgba(250,250,250,.95);
        border-radius: 15px;
        
        h2, h3 {
            color: $clr-secondary;
        }
        h2 {
            color: $clr-secondary;
            padding-bottom: $size-m;
            border-bottom: 1px solid $clr-secondary;;
        }
        h3 {
            padding-top: $size-l;
            font-size: $font-l;
            font-weight: bold;

            &:first-of-type {
                padding-top: $size-m;
            }
            &:before {
                margin-right: $size-s;
            }
        }
        li {
            padding-top: 0;
        }
        a {
            display: block;
            word-wrap: break-word;

            &:last-of-type {
                margin-bottom: $size-l;
            }
        }
        .gm-scroll-view {
            padding-right: $size-xl;
        }
        .gm-scrollbar.-vertical {
            background-color: #ddd;
            top: $size-s;
            bottom: $size-s;
            right: 12px;
            width: 10px;
            border-radius: 20px;
        }
        .gm-scrollbar .thumb {
            background-color: $clr-link;
            width: 10px;
            border-radius: 20px;
        }
        .gm-scrollbar .thumb:hover {
            background-color: $clr-link-hover;
        }
        .gm-scrollbar.-horizontal {
            display: none;
        }
    }
    .close {
        @extend .icon;
        @extend .icon-cancel-circled2;
        cursor: pointer;
        position: absolute;
        top: $size-m;
        right: $size-m;
        margin: 0;
        padding: 0;
        font-size: 60px;
        text-align: center;

        &:before {
            border-radius: 50%;
            background: #fff;
        }
    }
    @media (max-width: 1400px) {

        .screenshots {

            .screens {
                width: calc(83% - 6rem);
                top: $size-s;
            }
        }
    }
    @media (max-width: 1200px) {
        
        .screenshots {

            .controls {
                bottom: -$size-m;
            }
        }
        .content {

            h2 {
                font-size: $font-l;
                padding-bottom: $size-s;
                margin-bottom: 0;
            }
            h3 {
                font-size: $font-m;
            }
        }
    }
    @media (max-width: 991px) {
        padding: $size-m;
        
        .screenshots {
            padding: 0;
            position: relative;
            
            svg {
                width: 90%;
            }
            .screens {
                width: calc(108% - 6rem);
            }
            .controls {
                bottom: -$size-l - $size-s;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    @media (max-width: 767px) {
        padding: $size-s;
        
        .content {
            margin-top: 0;
            margin-bottom: $size-m;
            height: 40vh;
            padding: $size-m;
            max-width: 100%;
            width: 100%;
        }
        .screenshots {

            svg {
                width: 100%;
                height: auto;
            }
            .screens {
                height: 65%;
                width: calc(100% - #{$size-m});
            }
        }
        .close {
            top: 0;
            right: -$size-s;
            z-index: $z-m + 1;
        }
    }
    @media (max-width: 400px) {

        .content {
            margin-bottom: 0;
            padding: $size-s;

            h3 {
                padding-top: $size-m;
            }
        }
        .screenshots {
            top: -$size-m;
        }
    }
}