
//- Work modal
//- ============
//- (Write description here)

mixin workModal()
	article.work-modal.modal-inactive
		a.close 
		.inner
			.content
				
			.screenshots
				img(src="img/device-desktop-straight.svg").svg

				.screens
				
				.controls