
// Footer
// ============
// Main page footer

.footer {
    padding-top: $size-l;
    @extend %full-width-gap;

    h2, h2 span {
        font-family: $font-body;
        font-size: $font-l;
        font-weight: 100;
        letter-spacing: 15px;
        font-size: $font-m;
        text-transform: uppercase;
    }
    h2 {
        position: relative;
        z-index: $z-m + 1;
    }
    h2 span {
        font-size: $font-xl;
        font-weight: 500;
        letter-spacing: 30px;
        display: block;
    }
    .legal {
        
        p {
            font-size: $font-s;
        }
        p, a {
            float: left;
            margin-right: $size-s;
        }
    }
    nav {
        position: absolute;
        right: $size-l;
        text-align: right;

        a {
            @extend %all-caps;
            font-size: $font-m;
            color: $clr-darker;
            display: block;
            text-decoration: none;
        }
    }
    @media (max-width: 767px) {

        margin-left: 0;

        h2 {
            font-size: $font-xs;
            letter-spacing: 6px;
            line-height: $font-xxs;
            margin-bottom: $size-m;
        }
        h2 span {
            font-size: $font-s;
            letter-spacing: 18px;
        }
        .legal {
        
            p, a {
                font-size: $font-xs;
                display: block;
                float: none;
                margin-bottom: 0;
                padding-top: 0;
            }
        }
        nav {
            right: $size-m;

            a {
                font-size: $font-s;
            }
        }
    }
}