
//- Footer
//- ============
//- Main page footer

mixin footer()
	footer.footer
		.inner
			.legal
				h2.logo-main <span>Alex</span> Plummer
				p © Copyright 2017
				a(href="legal.html") Legal
				a(href="credits.html") Credits
			
			nav
				a(href="index.html" class="home") HOME
					img(src="img/icon-home.svg").svg
				- var navItems = navItems || ['work', 'news', 'chat']
				each navItem in navItems
					a(href=navItem+".html" class=navItem)= navItem.toUpperCase()
						img(src='img/icon-'+ navItem +'.svg').svg
