
// Footer
// ============
// Main page footer

.footer {
    @extend %full-width-gap;
    @extend %logo-main;
    padding-top: $size-l;
    margin: 0;

    .inner {
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }
    .legal {
        
        p, a {
            font-size: $font-s;
            float: left;
            margin-right: $size-s;
        }
    }
    nav {
        position: absolute;
        right: 0;
        text-align: right;

        a {
            @extend %all-caps;
            display: block;
            color: $clr-darker;
            font-size: $font-s;
            margin-bottom: $size-m;
            text-decoration: none;
            position: relative;
            transition: color .5s ease;
            line-height: $size-m;
            padding-left: $size-m + $size-s;

            svg {
                width: $size-m;
                height: $size-m;
                display: inline-block;
                position: absolute;
                left: 0;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                overflow: visible;
            }
            &:hover {
                color: $clr-link;
            }
        }
        .home, .work, .news, .chat {
            
            &:hover svg, &:focus svg,  &:hover svg *,  &:focus svg * {
                transform-origin: center;
                fill: $clr-link;
            }
        }
        .home {
            
            &:hover svg,  &:focus svg {
                @include spin-position-left;
            }
        }
        .work {
    
            &:hover svg .line-1, &:hover svg .line-2, &:focus svg .line-1, &:focus svg .line-2 {
                @extend %fade-in-out;
                transform-origin: top left;
            }
        }
        .news {
    
            &:hover svg .line-1, &:hover svg .line-2, &:focus svg .line-1, &:focus svg .line-2 {
                @extend %rotate-out-up;
            }
        }
        .chat {

            &:hover svg,  &:focus svg {
                @include swing-position-left;
                transform-origin: top center;
            }
        }
    }
    @media (max-width: $tablet - 1px) {
        padding: $size-s $size-s $size-l $size-s;
        margin-left: 0;

        .legal {
        
            p, a {
                font-size: $font-xs;
                display: block;
                float: none;
                margin-bottom: 0;
                padding-top: 0;
            }
        }
        nav {
            top: $size-s;

            a {
                font-size: $font-xs;
                font-weight: 100;
                margin-bottom: $size-s;
            }
        }
    }
}