
//- Intro with description
//- ============
//- Intro with description text

mixin intoWithDescription(heading, subheading)
	header.intro-with-description(role="banner")
		.inner
			.lined-heading.no-under
				h1(class!=attributes.class)= heading
					img(src="img/icon-" + heading.toLowerCase() + ".svg"  aria-hidden="true" role="presentation").svg
				img(src="img/bg-ovals-header.svg"  aria-hidden="true" role="presentation").header-bg-under
			article
				h2= subheading
				block