// Nav vertical
// ============
// Vertical nav for top of page

.nav-vertical {
    position: absolute;
    z-index: $z-l;
    top: $size-l + $size-l;
    left: 100%;
    line-height: $size-l;
    width: 100%;

    .logo-main {
        @extend %logo-main;
        display: none;
        position: fixed;
        top: $size-m;
        left: $size-m;  

        h2, h2 span {
            color: #fff;
        }
        h2 {
            margin: 0;
            padding: 0;
        }
        span {
            padding-top: 0;
        }
    }
    .skip-main {
        position: absolute;
        top: -$size-xl * 3;
        right: calc(100vw - #{$size-l});
        margin: 0;
        width: 200px;
        transition: all ease .3s;

        &:focus {
            top: -$size-xl;
        }
    }
    .nav-inner {
        transform: rotate(90deg);
        transform-origin: left top;
        position: absolute;
    }
    a {
        color: $clr-darker;
        font-size: $font-s;
        margin-right: $size-l;
        text-decoration: none;
        position: relative;
        transition: color .5s ease;
        line-height: $size-m;

        svg {
            width: $size-m;
            height: $size-m;
            display: inline-block;
            position: absolute;
            bottom: -$size-l;
            left: 50%;
            transform: translateX(-50%);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            overflow: visible;
        }
        &:hover {
            color: $clr-link;
        }
    }
    &.active a svg * {
        fill: #fff;
    }
    .home, .work, .news, .chat {

        &:hover svg, &:focus svg,  &:hover svg *,  &:focus svg * {
            transform-origin: center;
            fill: $clr-link;
        }
    }
    .home {

        &:hover svg,  &:focus svg {
            @extend %spin;
        }
    }
    .work {

        &:hover svg .line-1, &:hover svg .line-2, &:focus svg .line-1, &:focus svg .line-2 {
            @extend %fade-in-out;
            transform-origin: top left;
        }
    }
    .news {

       &:hover svg .line-1, &:hover svg .line-2, &:focus svg .line-1, &:focus svg .line-2 {
            @extend %rotate-out-up;
        }
    }
    .chat {

        &:hover svg,  &:focus svg {
            @extend %swing;
            transform-origin: top center;
        }
    }
    @mixin offscreen {
        transform: none;
        pointer-events: none;
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        .logo-main {
            display: block;
        }
        .nav-inner {
            position: absolute;
            transform: rotate(0) translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }
        a {
            font-family: $font-header;
            font-size: $font-xl;
            display: block;
            padding-left: $size-l;
            color: #fff;
            margin-bottom: $size-m;
            border-bottom: 1px solid rgba(250,250,250,.4);
            margin-right: 0;
            padding-bottom: $size-m;
            letter-spacing: 6px;

            svg {
                bottom: 40%;
                left: 0;
                transform: translateX(0);
            }
            &:last-of-type {
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;

                svg {
                    bottom: 0;
                }
            }
            &:hover svg * {
                fill: #fff;
            }
        }
        .home {

            &:hover svg,  &:focus svg {
                @include spin-position-left;
            }
        }
        .chat {

            &:hover svg,  &:focus svg {
                @include swing-position-left;
                transform-origin: top center;
            }
        }
        &:before {
            content: "";
            transform: translate(-50%, -50%);
            position: fixed;
            width: 200vw;
            height: 200vh;
            background: $clr-link;
            z-index: -2;
        }
        /*&:after {
            content: "";
            position: fixed;
            width: 100vw;
            height: 100vh;
            opacity: 0.2;
            background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            z-index: -1; 
        }*/
    }
    &.offscreen {
        @include offscreen;
    }
    @media (max-width: 900px) {
        @include offscreen;

        &.offscreen a {
            font-size: $font-l;
        }
    }
    &.active {
        transition: opacity ease 1s;
        opacity: 1;
        pointer-events: auto;

        .skip-main {
            display: none;
        }
        a {
            @extend .animated;
            @extend .bounceInUp;

            @for $i from 1 through 4 {

                &:nth-child(#{$i}) {
                    animation-delay: .05s * $i
                }
            }
        }
    }
}
.menu-toggle {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: $z-max;
    background: $clr-link;
    border-radius: 50%;
    transition: all ease 0.3s;
    transform: translate(50%, -50%);

    span {
        transition: .25s ease-in-out;
        background: #fff;
        display: block;
        line-height: 0;
        margin: 0;
        padding: 0;
        border-radius: 15px;
    }
    &:hover {
        background: lighten($clr-link, 10%);
    }
    &.inactive {
        transform: translate(100%, -100%);
    }
    &.active {
        transform: translate(50%, -50%);
    }
    .off {
        position: absolute;
        height: 100%;
        width: 100%;

        span {
            width: 35px;
            height: 4px;
            margin: 10px 0;
            position: relative;
            left: 31%;
            top: 52%;
            transform: translate(-50%, -50%);

            &:nth-child(1) {
                transition-delay: .3s;
            }
            &:nth-child(2) {
                transition-delay: .425s;
            }
            &:nth-child(3) {
                transition-delay: .55s;
            }
        }
    }
    .on {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);

        span {
            
            &:nth-child(1) {
                height: 0%;
                width: 4px;
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition-delay: 0s;
            }
            &:nth-child(2) {
                width: 0%;
                height: 4px;
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition-delay: .25s;
            }
        }
    }
    &.open {
        background: lighten($clr-link, 10%);
        transition: all ease 0s;

        .off {

            span {
                width: 0%;

                &:nth-child(1) {
                    transition-delay: 0s;
                }
                &:nth-child(2) {
                    transition-delay: .125s;
                }
                &:nth-child(3) {
                    transition-delay: .25s;
                }
            }
        }
        .on {

            span {

                &:nth-child(1) {
                    height: 40px;
                    transition-delay: .425s;
                }
            }
            span {

                &:nth-child(2) {
                    width: 40px;
                    transition-delay: .175s;
                }
            }
        }
    }
    @media (max-width: 900px) {
        width: 125px;
        height: 125px;

        &.inactive {
            transform: translate(50%, -50%);
        }
        .off {

            span {
                width: 30px;
                height: 3px;
                top: 55%;
                left: 33%;
                margin: 7px 0;
            }
        }
        &.open .on {

            span {

                &:nth-child(1) {
                    width: 30px;
                    height: 3px;
                }  
                &:nth-child(2) {
                    height: 30px;
                    width: 3px;
                }
            }
        }
    }
}