
//- Nav vertical
//- ============
//- Vertical nav for top of page


mixin navVertical(navItems)
    .menu-toggle.inactive
        .off
            span
            span
            span
        .on
            span
            span

    nav.nav-vertical
        .logo-main 
            h2 <span>Alex</span> Plummer

        .nav-inner
            a(href="index.html" class="home") HOME
                img(src="img/icon-home.svg").svg
            - var navItems = navItems || ['work', 'news', 'chat']
            each navItem in navItems
                a(href=navItem+".html" class=navItem)= navItem.toUpperCase()
                    img(src='img/icon-'+ navItem +'.svg').svg
