
// Nav vertical
// ============
// Vertical nav for top of page

.nav-vertical {
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    z-index: $z-l;
    top: $size-l + $size-l;
    left: 100%;
    line-height: $size-l;

    a {
        color: $clr-darker;
        margin-right: $size-l;
        text-decoration: none;
        position: relative;

        &:before {
            content: "";
            width: $size-m;
            height: $size-m;
            display: inline-block;
            position: absolute;
            bottom: -$size-l;
            left: 50%;
            transform: translateX(-50%);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        
        @mixin addNavItem($name, $animation: false) {

            &.#{$name}:before {
                background-image: url(../img/icon-#{$name}.svg);
            }
            &.#{$name}:hover:before {
                
                @if $animation {

                }  
            }
        }
        @include addNavItem('home');
        @include addNavItem('work');
        @include addNavItem('news');
        @include addNavItem('contact');
    }
    @media(max-width: $breakpoint-1) {

        a:before {
            bottom: -4rem;
        }
    }
    @media(max-width: 900px) {
        display: none;
    }
}